# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment Variables (Security)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
*.log
firebase-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Certificates
certificates/

# Development / Temporary Files
tmp/
*.js
!next.config.mjs
!postcss.config.mjs
!tailwind.config.mjs
!jest.config.js
!*.rules
!*.json