rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // User-specific files, including media attachments for memories.
    // Users can only read and write their own files within their own directory.
    match /users/{userId}/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
